<div class="card bg-light my-5">
  <div class="card-body">
      <div class="card-body">
          <h2>List of times</h2>
          <hr />
          <table class="table table-bordered table-striped">
              <thead class="thead-dark">
                  <tr>
                      <th>Position</th>
                      <th>Name</th>
                      <th>Laptime</th>
                      <th>Diff</th>
                      <th>Laps</th>
                      <th>Country</th>
                      <th>Car</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let time of times">
                      <td>{{time.position}}</td>
                      <td>{{time.name}}</td>
                      <td>{{time.laptime}}</td>
                      <td>{{time.diff}}</td>
                      <td>{{time.laps}}</td>
                      <td>{{time.country}}</td>
                      <td><img src="{{time.car_icon}}"/></td>
                  </tr>
              </tbody>
          </table>
        </div>
  </div>
</div>